body{
    font-family: Arial;
}

h1{
    color: #21897E;
    font-size: 24px;
}

a{
    color: #0E40FA;
    font-weight: bold;
}

h2{
    color: #3BA99C;
    font-size: 16px;
}

h3{
    color: black;
    font-size: 14px;
}