@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=News+Cycle:wght@400;700&display=swap');

body{
    font-family: 'News Cycle', sans-serif;
    margin: 10px 50px;
    background-color: #ebeff7;
}

h1{
    color: #0c3999;
    font-size: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

blockquote{
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 48px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin: 10px 0;
    padding: 10px 0;
}

a{
    color: #062286;
    font-weight: bold;
}

aside{
    width: 30%;
    float: right;
    margin: 25px;
    padding: 10px;
    background-color: lightgray;
}

h2{
    color: #233fa7;
    font-size: 24px;
    font-weight: 900;
}

h3{
    color: black;
    font-size: 14px;
}
@media (max-width: 767px){   
    aside{
            width: 100%;
            float: none;
            display: block;
            margin: 0;
            }
    }