@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=News+Cycle:wght@400;700&display=swap');

body{
    font-family: 'News Cycle', sans-serif;
    margin: 10px 50px;
}

h1{
    color: #21897E;
    font-size: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

blockquote{
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 48px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin: 10px 0;
    padding: 10px 0;
}

a{
    color: #0E40FA;
    font-weight: bold;
}

h2{
    color: #3BA99C;
    font-size: 24px;
    font-weight: 900;
}

h3{
    color: black;
    font-size: 14px;
}